@{
    ViewBag.Title = "Index";
}

<script>
    function DeleteName(e)
    {
        var answer = confirm("Bir gemi ismini sildiğinizde gemi ismiyle birlikte, gemiye ait kayıtlar ve resimler de silinecektir.Devam etmek istediğinize emin misiniz?");
        if (answer)
        {
            $.ajax(
                {
                    url: "/Name/Continue",
                    type: "post",
                    cache: false,
                    async: false,
                    data:
                        {
                            tanim_id:$(e).data("id")
                        },
                    success: function(result)
                        {
                        if (result)
                        {
                            alert("Kayıtlar başarıyla silindi");
                            $(e).parent().parent().parent().remove();
                        }
                        else
                        {
                            alert("Kayıt silinemedi");
                        }
                    }

                });
        }
        return false;
    }
</script>

<h2>Tanımlar</h2>

<a href="~/Name/NewName">Yeni tanım ekle</a><br />

<table id="name_table">
<tr><td>Id</td><td>Tanım</td></tr>
@foreach (gemi.Entities.Tanimlar tanim in ViewBag.tanimlar)
{
    <tr id="row-@tanim.tanimId">
        <td>@tanim.tanimId</td>
        <td>@tanim.tanim</td>
        <td><form action="/Name/EditName" method="get"><input type="hidden" name="tanim_id" value="@tanim.tanimId"/><input value="Düzenle" type="submit"/></form></td>
        <td><form action="/Name/Continue" method="get"><input type="hidden" name="tanim_id" value="@tanim.tanimId"/><input value="Sil" type="submit" data-id="@tanim.tanimId" id="input-@tanim.tanimId" onclick="return DeleteName(this)"/></form></td>
    </tr>
}
</table>