<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="../../Content/lightbox.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker-tr.js"></script>
    <script src="../../Scripts/myscripts.js" type="text/javascript"></script>
    <script src="../../Scripts/lightbox.js" type="text/javascript"></script>
    <script src="~/Scripts/validation_checkers.js"></script>
    <script src="~/Scripts/validation_dom_change.js"></script>
    <style>
        #ui-datepicker-div
        {
            background-color:gray;
            z-index:5;
        }
        
        .header
        {
            font-size:20px;
        }
        
        .header input
        {
            border-radius:5px;
        }
        
        .header div
        {
            display:inline-block;
            vertical-align:top;
        }
        
        .body
        {
            font-size:20px;
            min-height:100%;
            padding-bottom:100px;
        }
        
        
    </style>

</head>
<body>
<div class="container">
    <div class="header">
        <div class="banner" style="width:40%;background:cyan;height:152px;display:inline-block">
            <img src="../../Content/src/KAPTAN.jpg" />
        </div>
        <div style="width:18%;background-color:cyan;height:152px;display:inline-block" class="currency">
            @{Html.RenderAction("ShowCurrency","Home");}
        </div>
        <div style="width:17%;background-color:cyan;height:152px;display:inline-block" class="forecast">
            @{Html.RenderAction("ShowForecast","Home");}
        </div>
        <div style="width:22%;background-color:cyan;height:152px;display:inline-block" class="profile">
            
                @if (!Request.IsAuthenticated)
                {
                    <form action="/Home/Login" method="post">
                    <fieldset>
                        <legend>Giriş</legend>
                        <input type="text" name="username" value="Kullanıcı adınız:" style="width:120px" onfocus="ClickToEmpty(this)" onclick="ClickToEmpty(this)"/>
                        <input type="text" name="password" value="Şifreniz:" style="width:120px" onfocus="ClickToEmptyPass(this)" onclick="ClickToEmptyPass(this)"/>
                        <input type="submit" onclick="return ValidateLogin(this)" id="testsubmit"/><br />
                        <p class="validationmessage"></p>
                    </fieldset>
                    </form>
                }
                else
                {
                    <div>Hoşgediniz , @User.Identity.Name !</div><br /><br /><br />
                    <div><a style="text-decoration:none" href="/Home/ChangePassword">Şifre değiştirme</a></div>
                }
        </div>
    </div>
    
    <div style="clear:both"></div>
    
    <div class="body">
    <div class="Actions" style="width:15%;border:solid black 1px;background-color:cyan;display:inline-block">
        @{Html.RenderPartial("_Sidebar");}
    </div>
    <div class="context" style="width:80%;display:inline-block;margin-left:0px;border:solid black 1px;padding:0;background-color:cyan">
        @RenderBody()
    </div>
    </div>

    <!--<div class="footer" style="clear:both;background-color:cyan;bottom:0">
        <div>Footer
        </div>
    </div>-->
    
    
    @RenderSection("scripts", required: false)
</div>
</body>
</html>
