@model gemi.Entities.Ship

@{
    ViewBag.Title = "EditShip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/lightbox.js" type="text/javascript"></script>
<style>
    tr
    {
        border:solid black 1px;
    }
    
    input.submit
    {
        background-color:greenyellow;
        left:50%;
    }
    
    .photo
    {
        display:inline-block;
    }
    .delete
    {
        color:brown;
        text-align:center;
    }
    
</style>

<script>
    
</script>

<h2>Gemi kaydı düzenleme</h2>

<form method="post" action="/Gemi/EditShip" enctype="multipart/form-data">
<table id="EditShipTable">
        <tr><th><label>Eski Değerler</label></th><th><label>Yeni Değerler</label></th></tr>
        <tr><td><label>Referans Id:@Model.refId</label></td><td><input type="text" readonly="readonly" name="ref_id" value="@Model.refId"/></td></tr>
        <tr><td><label>Gemi adı:@(ViewBag.tanimlar[Model.shipId])</label></td>
        <td><select name="ship_id">
        
        @foreach (KeyValuePair<int,string> pair in ViewBag.tanimlar)
        {
            if(Model.shipId == pair.Key)
            {
                <option value="@pair.Key" selected>@pair.Value</option>
            }
            else
            {
                <option value="@pair.Key" >@pair.Value</option>
            }
        }
        </select></td></tr>
        <tr><td><label>Geliş Tarihi:@Model.time.Date.ToString().Remove(10)</label></td><td><input type="text" name="time" id="datepicker" readonly value="@Model.time.ToString().Remove(10)"/></td></tr>

        <tr><td><label>Açıklama:<br />@Model.description</label></td><td><textarea name="description">@Model.description</textarea></td></tr>

    <tr><td><label>Yeni fotoğraf ekle:</label></td><td><input type="file" onchange="ShowPreview(this)" name="files" multiple/></td></tr>
    
    <tr><td></td><td><input class="submit" type="submit" value="Düzenlemeleri kaydet" onclick="return ValidateEditShip(this)"/></td></tr>
    </table><br />
</form>
<p id="photoerror" style="display:none;border:solid red 1px;color:red">Bu geminin hiç fotoğrafı yok.Fotoğraf yüklemeniz gerekiyor.</p>
<div class="previews"></div>
<div>Fotoğraflar:<br />
        @foreach (gemi.Entities.ShipUrl image in (List<gemi.Entities.ShipUrl>)ViewBag.Photos)
        {
            <div class="photo" >
                @{string imageSrc;

                  string imageBase64 = Convert.ToBase64String(image.preview);
                  imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                  string serverPath = Server.MapPath("..");
                  string relativePath = image.imageUrl.Substring(serverPath.Length, image.imageUrl.Length - serverPath.Length);
                }
                <!--<div>@serverPath</div>
                <div>@image.imageUrl</div>-->
                <div><a data-lightbox="image-@image.id style="z-index:6" target="_blank" href="@(relativePath)" ><img src="@imageSrc" alt="dosya alınamadı"/></a></div>
                <form method="post" action="/Gemi/DeletePicture">
                    <input type="hidden" name="photo_id" value="@image.id" />
                    <input type="hidden" name="ref_id" value="@image.refId" />
                    <input type="submit" class="delete" value="Resmi sil X" data-photoid="@image.id" data-refid="@image.refId" onClick="return DeletePicture(this);"/>
                </form>
            </div>
        }
</div>